{% extends "base.html" %}
{% block content %}
<form id="updateRegistrationForm" method="POST" action="{{ url_for('update_registration', id=registration.id) }}">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{ registration.name }}" readonly>

    <label for="owned_parking_lot">Owned Parking Lot</label>
    <input type="text" id="owned_parking_lot" name="owned_parking_lot" value="{{ registration.owned_parking_lot }}" readonly>

    <label for="start">Start Time:</label>
    <input type="datetime-local" id="start" name="start_time" required>

    <label for="end">End Time:</label>
    <input type="datetime-local" id="end" name="end_time" required>

    <label for="empty">Empty</label>
    <input type="checkbox" id="empty" name="empty" {% if registration.empty %}checked{% endif %}>

    <label for="booked">Booked</label>
    <input type="checkbox" id="booked" name="booked" {% if registration.booked %}checked{% endif %}>

    <button type="submit">Update Registration</button>
</form>
<!-- The script is for check if Start Time is earlier than End Time-->
<script>
    document.getElementById("updateRegistrationForm").addEventListener("submit", function(event) {
        const startTime = new Date(document.getElementById("start").value);
        const endTime = new Date(document.getElementById("end").value);

        if (startTime >= endTime) {
            event.preventDefault();
            alert("Start Time must be earlier than End Time.");
        }
    });
</script>

{% endblock %}